extends layout

block content
  div#content

  script(type='text/javascript')
    sio = io.connect()
    //setInterval(function(){ if (!(io.socket && io.socket.connected))  }, 500)

    // Emit ready event.
    sio.emit('ready', !{roomOptions});
    
    // Listen for broadcast events
    sio.on('stats', function(data) {
      //$('#wordcount').html(data.wordcount + ' words indexed');
      //$('#wordperminute').html(data.wordperminute + ' per minute');
      
      $("#wordcount").flipCounter("setNumber", parseInt(data.wordcount));
      $("#wordperminute").flipCounter("setNumber", parseInt(data.wordperminute));
      
    });

    var handleMessage = function(data) {
      // discard if hovering a button
      if ($('.tweet:hover').length) return;
        
      // remove last
      if ($('#content .tweet').length > 8)
        $('#content .tweet:last').remove();

      // prepend a new tweet
      $('#content').prepend(
          '<div class="tweet">'
        +   '<div class="actions">'
        +     '<a class="retweet" href="//twitter.com/share?text=' + escape(data.message) + '"><i class="retweet"></i>retweet</a>'
        +   '</div>'
        +   data.message 
        + '</div>'
      )
    };
    
    // Listen for message events
    sio.on('message', handleMessage);
    sio.on('messages', function(data) {
      for (var i = 0; i < data.length; i++) {
        handleMessage(data[i]);
      }
    });
    
