body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#slogan {
  font-style: italic;
  position: relative;
  top: -115px;
}

.categories {
  float: left;
	width: 30%;
}

#content {
	margin-left: 30%;
}

.tweet {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #efefef;
  padding: 10px;
	margin-bottom: 10px;
}

.tweet:hover {
  background: #dfdfdf;
}

.retweet {
  float: right;
	margin: 5px;
}